/* Center everything on the page */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

/* Style the title */
h1 {
    color: #333;
    margin-bottom: 20px;
}

/* Style the search input */
#searchInput {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    font-size: 16px;
}

/* Style the buttons */
.button-container {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 20px;
    background-color: #217234;
    color: white;
    border: none;
    width: 158px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button#clearButton {
    background-color: #8a949e;
}

button:hover {
    opacity: 0.8;
}

/* GIF container styling */
#gifContainer {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

img {
    max-width: 200px;
    border-radius: 5px;
}